// google font import
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,300;0,500;0,600;1,300&family=Quattrocento:wght@400;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");
@import url("./font.css");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,300;0,500;0,600;1,300&family=Quattrocento:wght@400;700&family=Russo+One&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
// @import './icon';
@import './ball';
@import './reboundanimation';
@import './humberger';
// Global variable
$dark-blue: #222;
$green: #90feb5;
$action-color: $green;
$color: #00A97F;
$text-color:#0febb4;
$white:#f0f0f0;
$color2: rgb(10,
25,
30);
$fontHead: "Work Sans",
sans-serif;
$BigFont: "Russo One",
sans-serif;
$socialFont: 'Montserrat',
sans-serif;
$colorF: #ffffff;
$layout-breakpoint-lg:992px;
$layout-breakpoint-md:768px;
$layout-breakpoint-small:576px;
// basic css
* {
    margin: 0px;
    padding: 0px;
    color: rgb(242, 245, 247);
    letter-spacing: 0.1rem;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.btn {
    padding: 0.9rem 4.95rem;
    margin-top: 1.9rem;
    background-color: transparent;
    border-radius: 1px;
    border: .3px solid $color;
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 1.3rem;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: $color;
    z-index: 800;
}

.btn::after,
.btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: $color;
}

.btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
}

.btn:hover {
    color: $white;
}

.btn:active {
    filter: brightness(.7);
    transform: scale(.98);
}

body {
    text-rendering: optimizelegibility;
    overflow-x: hidden;
    font-family: $fontHead;
    background: rgb(0, 0, 0);
}

// global css
a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

section {
    padding: 2rem 0px;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    inset: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.titleOmar {
    padding-top: 4rem;
    font-size: 5rem;
    font-family: $BigFont;
    span {
        display: inline-block;
        transition: 0.4s all;
        color: #12e4d2ea;
    }
    .titleC {
        transform: scale(1.2) !important;
        color: #fff;
    }
}

.omarDescription {
    font-size: 1.4rem;
    font-family: $fontHead;
    font-weight: 400;
    line-height: 1.7;
    color: rgb(236, 232, 232);
    margin-top: 2rem;
}

// header css
header {
    position: fixed;
    top: 0px;
    right: 0px;
    overflow: hidden;
    width: 100%;
    z-index: 999;
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 97px;
        .logo_link {
            text-decoration: none;
            h4 {
                span {
                    color: #C9C5C3;
                }
            }
            .logo {
                padding: 1.4vh 1vw;
                text-align: center;
                display: flex;
                flex-direction: row;
                img {
                    height: 5rem;
                    width: 5rem;
                    margin-top: 16px;
                    margin-right: 7px;
                    border: 4px solid #f1f1f1;
                    border-radius: 50%;
                }
                .logo_text {
                    font-family: $BigFont;
                    display: flex;
                    align-items: center;
                    margin-top: 2rem;
                    width: 14rem;
                    font-size: 3.9rem;
                    font-weight: 700;
                    color: #f1f1f1;
                    margin-top: 22px;
                    text-shadow: 0px 0px 0 rgb(35, 148, 110), -1px 0px 0 rgb(4, 117, 79), -2px 0px 0 rgb(-28, 85, 47), -3px 0px 0 rgb(-59, 54, 16), -4px 0px 0 rgb(-90, 23, 0), -5px 0px 0 rgb(-121, -8, 0), -6px 0px 0 rgb(-153, -40, 0), -7px 0px 0 rgb(-184, -71, 0), -8px 0px 0 rgb(-215, -102, 0), -9px 0px 8px rgba(0, 0, 0, 0.66), -9px 0px 1px rgba(0, 0, 0, 0.5), 0px 0px 8px rgba(0, 0, 0, .2);
                }
            }
        }
        ul {
            margin-top: 4.9rem;
            li {
                display: inline-block;
                a {
                    font-family: $fontHead;
                    text-decoration: none;
                    margin: 0 1.5rem;
                    text-transform: uppercase;
                    font-size: 1.4rem;
                    font-weight: 300;
                    padding: 0.5rem 2rem;
                    border: 0.3px solid #f1f1f1;
                    color: #f1f1f1;
                    border-radius: 1.7rem;
                }
                 :hover {
                    color: $text-color;
                    text-decoration: none;
                }
            }
        }
    }
   
   
} // end header
[data-pushbar-id] {
    background:url('../img/bg/graphics-family-header.jpg');
    background-size: cover;
    background-position: center;
}
[data-pushbar-id].opened{
    display: flex;
}
.push-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.push-container .nav-links li a{
    font-family: "Work Sans", sans-serif;
    text-decoration: none;
    display: inline-block;
    margin: 1rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 300;
    padding: 0.5rem 2rem;
    color: #f1f1f1;
    border-radius: 1.7rem;
}
.push-container button{
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 2px;
    left: 0;
}
.push-container button i{
    color: #e3dcdc;
   
    font-size: 2rem;
}
.pushbar_overlay{
    background-color: #101112;
}
.hamburger {
    overflow: hidden;
    position: fixed;
    right: 4rem;
    top: 42px;
    cursor: pointer;
    display: none;
    z-index: 1000;

    div {
        width: 30px;
        height: 2px;
        background-color: #c9c5c3;
        margin: 5px 0px;
        display: flex;
        transition: all 0.3s ease 0s;
    }
    .line2 {
        width: 15px;
        transition-property: width;
        transition-duration: 0.3s;
    }
}
.nav_bg_adder {
    border-bottom: 0.2px solid rgb(38, 41, 46);
    background-position:top;
    background-size: 100%;
}

// header responsive css
@media only screen and (max-width: $layout-breakpoint-lg) {
    header ul{
        display: none;
    }
    header .container{
        max-width: 100%;
    }
   .hamburger{
        display: block;
    }
}


// banner css
.banner_info {
    padding: 17rem 0 15rem 0;
    height: 140vh;
    text-align: center;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    animation: animateBg 15s ease infinite alternate;
    background-size: 100% 2000%;
    overflow: hidden;
    @keyframes animateBg {
        0% {
            background-position: 0% 0%;
        }
        100% {
            background-position: 0% 100%;
        }
    }
    #canvas {
        background-color: #101011;
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .banner_avatar {
        margin-top: 14rem;
    }
    .text-animation {
        margin: 29px 0 15px 0;
        word-spacing: 1rem;
        position: relative;
        span {
            font-family: $BigFont;
            letter-spacing: .7rem;
            font-size: 9rem;
            color: #12e4d2ea !important;
            font-weight: 300;
            word-spacing: 26px;
        }
        .enter_class {
            color: #fff !important;
        }
    }
    .text-animation .letter {
        display: inline-block;
    }
    .text-animation-short-info {
        span {
            font-size: 1.6rem;
            color: #c9c5c3;
            font-weight: 400;
            margin: 0.3rem 0 1.9rem 0;
            line-height: 15px;
        }
    }
    .text-animation-short-info .letter2 {
        display: inline-block;
    }
    #timer {
        visibility: hidden;
        opacity: 0;
        display: none;
    }
} // end banner
// end banner responsive
@media only screen and (max-width: $layout-breakpoint-md) {
    .banner_avatar .lotiAnimtion {
        width: 130px !important;
        height: 130px !important;
    }
}

// about me
.aboutMe {
    width: 100%;
    padding: 4rem 0 4rem 0;
    position: relative;
    
    .download-btn {
        font-size: 1.3rem;
        padding: 1.1rem 2.99rem;
        position: relative;
        padding-right: 4rem;
        i {
            position: absolute;
            right: 10%;
            top: 33%;
            color: #2aab8a;
            transition: 0.4s all;
        }
    }
    .download-btn:hover i {
        color: #f9f9ff;
    }
    #myCanvasContainer {
        canvas {
            // margin-top: 7rem;
            z-index: 10;
        }
    }
    #tags {
        a {
            color: $color;
            font-weight: 700;
            font-size: 1.9rem;
        }
    }
}

// about me
@media only screen and (max-width: $layout-breakpoint-lg) {
    #myCanvasContainer {
        canvas {
            margin-top: 3rem;
        }
    }
}
// portfolio
.portfolio-p{
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(5%2c 9%2c 14%2c 1)'%3e%3c/rect%3e%3cpath d='M-64.38 411.29L-64.38 411.29' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-64.38 411.29L62.5 342.27' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-64.38 411.29L-90.97 556.02' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-64.38 411.29L72.48 539.79' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-90.97 556.02L-90.97 556.02' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-90.97 556.02L-45.5 674.27' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-45.5 674.27L-45.5 674.27' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-45.5 674.27L97.11 699.76' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-45.5 674.27L72.48 539.79' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-45.5 674.27L-64.38 411.29' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-45.5 674.27L215.29 543.55' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M62.5 342.27L62.5 342.27' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M62.5 342.27L221.97 411.38' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M62.5 342.27L72.48 539.79' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M72.48 539.79L72.48 539.79' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M72.48 539.79L215.29 543.55' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M72.48 539.79L97.11 699.76' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M72.48 539.79L-90.97 556.02' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M97.11 699.76L97.11 699.76' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M97.11 699.76L256.61 650.8' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M221.97 411.38L221.97 411.38' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M221.97 411.38L342.46 383.49' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M221.97 411.38L215.29 543.55' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M221.97 411.38L72.48 539.79' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M221.97 411.38L393.9 525.47' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M215.29 543.55L215.29 543.55' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M215.29 543.55L256.61 650.8' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M215.29 543.55L393.9 525.47' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M256.61 650.8L256.61 650.8' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M256.61 650.8L401.84 638.16' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M342.46 383.49L342.46 383.49' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M342.46 383.49L393.9 525.47' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M342.46 383.49L525.34 386.54' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M342.46 383.49L215.29 543.55' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M342.46 383.49L491.02 549.1' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M342.46 383.49L401.84 638.16' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M393.9 525.47L393.9 525.47' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M393.9 525.47L491.02 549.1' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M393.9 525.47L401.84 638.16' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M401.84 638.16L401.84 638.16' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M525.34 386.54L525.34 386.54' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M525.34 386.54L675.97 390.09' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M525.34 386.54L491.02 549.1' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M491.02 549.1L491.02 549.1' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M491.02 549.1L401.84 638.16' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M491.02 549.1L547.96 690.06' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M547.96 690.06L547.96 690.06' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M547.96 690.06L401.84 638.16' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M547.96 690.06L706.97 694.82' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M547.96 690.06L393.9 525.47' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M675.97 390.09L675.97 390.09' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M675.97 390.09L693.02 498.07' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M675.97 390.09L847.61 381.22' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M675.97 390.09L787.9 548.17' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M675.97 390.09L805.48 203.21' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M693.02 498.07L693.02 498.07' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M693.02 498.07L787.9 548.17' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M693.02 498.07L847.61 381.22' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M693.02 498.07L706.97 694.82' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M706.97 694.82L706.97 694.82' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M706.97 694.82L830.52 700.32' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M706.97 694.82L787.9 548.17' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M706.97 694.82L491.02 549.1' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M706.97 694.82L675.97 390.09' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M805.48 203.21L805.48 203.21' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M805.48 203.21L972.14 258.99' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M805.48 203.21L847.61 381.22' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M847.61 381.22L847.61 381.22' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M847.61 381.22L987.43 383.86' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M847.61 381.22L972.14 258.99' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M787.9 548.17L787.9 548.17' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M787.9 548.17L830.52 700.32' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M830.52 700.32L830.52 700.32' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1005.88 -65.23L1005.88 -65.23' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1005.88 -65.23L1131.63 -54.65' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M964.49 82.91L964.49 82.91' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M964.49 82.91L1101.76 111.86' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M964.49 82.91L1005.88 -65.23' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M972.14 258.99L972.14 258.99' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M972.14 258.99L987.43 383.86' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M972.14 258.99L1099.41 356.58' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M972.14 258.99L964.49 82.91' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M987.43 383.86L987.43 383.86' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M987.43 383.86L1099.41 356.58' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1131.63 -54.65L1131.63 -54.65' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1131.63 -54.65L1237.88 -97.89' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1131.63 -54.65L1101.76 111.86' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1131.63 -54.65L1266.85 63.19' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1131.63 -54.65L964.49 82.91' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1101.76 111.86L1101.76 111.86' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1101.76 111.86L1149.98 212' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1101.76 111.86L1266.85 63.19' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1149.98 212L1149.98 212' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1149.98 212L1246.16 240.55' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1149.98 212L1099.41 356.58' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1099.41 356.58L1099.41 356.58' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1099.41 356.58L1159.4 502.68' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1159.4 502.68L1159.4 502.68' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1159.4 502.68L1238.83 557.28' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1159.4 502.68L1146.12 676.48' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1159.4 502.68L1272.07 353.13' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1159.4 502.68L987.43 383.86' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1159.4 502.68L1302 708.55' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1146.12 676.48L1146.12 676.48' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1146.12 676.48L1238.83 557.28' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1146.12 676.48L1302 708.55' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1146.12 676.48L1391.45 660.9' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1146.12 676.48L830.52 700.32' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1146.12 676.48L1099.41 356.58' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1237.88 -97.89L1237.88 -97.89' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1237.88 -97.89L1266.85 63.19' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1266.85 63.19L1266.85 63.19' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1266.85 63.19L1426.75 48.55' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1266.85 63.19L1246.16 240.55' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1246.16 240.55L1246.16 240.55' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1246.16 240.55L1272.07 353.13' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1272.07 353.13L1272.07 353.13' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1272.07 353.13L1401.7 395.14' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1272.07 353.13L1099.41 356.58' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1238.83 557.28L1238.83 557.28' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1302 708.55L1302 708.55' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1302 708.55L1391.45 660.9' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1453.34 -40.01L1453.34 -40.01' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1453.34 -40.01L1426.75 48.55' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1453.34 -40.01L1560 -73.9' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1453.34 -40.01L1266.85 63.19' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1453.34 -40.01L1237.88 -97.89' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1453.34 -40.01L1423.51 213.61' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1426.75 48.55L1426.75 48.55' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1423.51 213.61L1423.51 213.61' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1423.51 213.61L1426.75 48.55' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1423.51 213.61L1246.16 240.55' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1401.7 395.14L1401.7 395.14' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1401.7 395.14L1449.6 500.32' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1449.6 500.32L1449.6 500.32' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1449.6 500.32L1557.45 535.19' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1391.45 660.9L1391.45 660.9' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1391.45 660.9L1540.13 700.1' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1560 -73.9L1560 -73.9' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1560 -73.9L1426.75 48.55' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1560 -73.9L1423.51 213.61' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1560 -73.9L1237.88 -97.89' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1550.19 383.22L1550.19 383.22' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1550.19 383.22L1401.7 395.14' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1550.19 383.22L1557.45 535.19' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1550.19 383.22L1449.6 500.32' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1550.19 383.22L1423.51 213.61' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1550.19 383.22L1272.07 353.13' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1557.45 535.19L1557.45 535.19' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1557.45 535.19L1540.13 700.1' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1557.45 535.19L1391.45 660.9' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1557.45 535.19L1401.7 395.14' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1540.13 700.1L1540.13 700.1' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1540.13 700.1L1449.6 500.32' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1540.13 700.1L1302 708.55' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1540.13 700.1L1550.19 383.22' stroke='%23132e65' stroke-width='1.5'%3e%3c/path%3e%3ccircle r='5' cx='-64.38' cy='411.29' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='-90.97' cy='556.02' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='-45.5' cy='674.27' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='62.5' cy='342.27' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='72.48' cy='539.79' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='97.11' cy='699.76' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='221.97' cy='411.38' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='215.29' cy='543.55' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='256.61' cy='650.8' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='342.46' cy='383.49' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='393.9' cy='525.47' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='401.84' cy='638.16' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='525.34' cy='386.54' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='491.02' cy='549.1' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='547.96' cy='690.06' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='675.97' cy='390.09' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='693.02' cy='498.07' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='706.97' cy='694.82' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='805.48' cy='203.21' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='847.61' cy='381.22' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='787.9' cy='548.17' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='830.52' cy='700.32' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1005.88' cy='-65.23' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='964.49' cy='82.91' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='972.14' cy='258.99' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='987.43' cy='383.86' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1131.63' cy='-54.65' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1101.76' cy='111.86' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1149.98' cy='212' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1099.41' cy='356.58' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1159.4' cy='502.68' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1146.12' cy='676.48' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1237.88' cy='-97.89' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1266.85' cy='63.19' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1246.16' cy='240.55' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1272.07' cy='353.13' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1238.83' cy='557.28' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1302' cy='708.55' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1453.34' cy='-40.01' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1426.75' cy='48.55' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1423.51' cy='213.61' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1401.7' cy='395.14' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1449.6' cy='500.32' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1391.45' cy='660.9' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1560' cy='-73.9' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1550.19' cy='383.22' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1557.45' cy='535.19' fill='%23132e65'%3e%3c/circle%3e%3ccircle r='5' cx='1540.13' cy='700.1' fill='%23132e65'%3e%3c/circle%3e%3cpath d='M68.79 525.11L68.79 525.11' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M68.79 525.11L61.26 679.02' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M68.79 525.11L-85.67 502.83' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M68.79 525.11L-74.09 694.35' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M841.98 373.13L841.98 373.13' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M841.98 373.13L950.8 371.15' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M841.98 373.13L851.42 529.64' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M841.98 373.13L948.1 489.5' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M948.1 489.5L948.1 489.5' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M948.1 489.5L851.42 529.64' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M948.1 489.5L950.8 371.15' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M948.1 489.5L962.74 655.86' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M948.1 489.5L1123.54 502.21' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1142.21 349.69L1142.21 349.69' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1142.21 349.69L1111.35 244.83' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1142.21 349.69L1268.33 405.62' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1142.21 349.69L1123.54 502.21' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1142.21 349.69L986.84 260.35' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1142.21 349.69L950.8 371.15' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1123.54 502.21L1123.54 502.21' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1123.54 502.21L1255.94 533.16' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1268.33 405.62L1268.33 405.62' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1268.33 405.62L1255.94 533.16' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1268.33 405.62L1434.46 370.65' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1268.33 405.62L1123.54 502.21' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1406.3 701.69L1406.3 701.69' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1406.3 701.69L1551.48 689.82' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1406.3 701.69L1250.58 692.9' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1406.3 701.69L1399.54 536.27' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1406.3 701.69L1255.94 533.16' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-85.67 502.83L-85.67 502.83' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-85.67 502.83L-74.09 694.35' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-74.09 694.35L-74.09 694.35' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M-74.09 694.35L61.26 679.02' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M61.26 679.02L61.26 679.02' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M340.24 546.63L340.24 546.63' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M340.24 546.63L338.47 671.83' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M340.24 546.63L508.38 524.18' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M338.47 671.83L338.47 671.83' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M338.47 671.83L497.2 667.91' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M338.47 671.83L508.38 524.18' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M338.47 671.83L61.26 679.02' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M338.47 671.83L68.79 525.11' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M508.38 524.18L508.38 524.18' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M508.38 524.18L497.2 667.91' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M508.38 524.18L656.38 539.49' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M508.38 524.18L643.84 374.24' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M508.38 524.18L682.53 657.88' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M497.2 667.91L497.2 667.91' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M643.84 374.24L643.84 374.24' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M643.84 374.24L656.38 539.49' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M643.84 374.24L841.98 373.13' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M643.84 374.24L851.42 529.64' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M643.84 374.24L682.53 657.88' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M643.84 374.24L950.8 371.15' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M656.38 539.49L656.38 539.49' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M656.38 539.49L682.53 657.88' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M656.38 539.49L851.42 529.64' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M682.53 657.88L682.53 657.88' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M682.53 657.88L497.2 667.91' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M682.53 657.88L851.42 529.64' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M851.42 529.64L851.42 529.64' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M986.84 260.35L986.84 260.35' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M986.84 260.35L950.8 371.15' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M986.84 260.35L1111.35 244.83' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M986.84 260.35L841.98 373.13' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M986.84 260.35L948.1 489.5' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M950.8 371.15L950.8 371.15' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M962.74 655.86L962.74 655.86' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M962.74 655.86L851.42 529.64' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M962.74 655.86L1150.61 666.47' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1111.35 244.83L1111.35 244.83' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1111.35 244.83L1269.4 196.6' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1111.35 244.83L950.8 371.15' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1111.35 244.83L1268.33 405.62' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1150.61 666.47L1150.61 666.47' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1150.61 666.47L1250.58 692.9' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1150.61 666.47L1123.54 502.21' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1150.61 666.47L1255.94 533.16' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1258.56 -60.62L1258.56 -60.62' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1258.56 -60.62L1284.79 51.99' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1258.56 -60.62L1450.7 -57.34' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1258.56 -60.62L1417.46 65.73' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1258.56 -60.62L1269.4 196.6' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1284.79 51.99L1284.79 51.99' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1284.79 51.99L1417.46 65.73' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1284.79 51.99L1269.4 196.6' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1284.79 51.99L1450.7 -57.34' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1284.79 51.99L1441.87 218' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1269.4 196.6L1269.4 196.6' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1269.4 196.6L1441.87 218' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1269.4 196.6L1417.46 65.73' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1255.94 533.16L1255.94 533.16' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1255.94 533.16L1399.54 536.27' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1250.58 692.9L1250.58 692.9' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1250.58 692.9L1255.94 533.16' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1450.7 -57.34L1450.7 -57.34' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1450.7 -57.34L1417.46 65.73' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1450.7 -57.34L1578.65 -82.26' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1450.7 -57.34L1550.33 51.04' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1417.46 65.73L1417.46 65.73' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1417.46 65.73L1550.33 51.04' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1441.87 218L1441.87 218' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1441.87 218L1434.46 370.65' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1441.87 218L1417.46 65.73' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1434.46 370.65L1434.46 370.65' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1434.46 370.65L1583.5 390.94' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1434.46 370.65L1399.54 536.27' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1434.46 370.65L1584.66 518.85' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1434.46 370.65L1608.83 225.48' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1399.54 536.27L1399.54 536.27' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1399.54 536.27L1268.33 405.62' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1578.65 -82.26L1578.65 -82.26' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1578.65 -82.26L1550.33 51.04' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1578.65 -82.26L1417.46 65.73' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1578.65 -82.26L1608.83 225.48' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1578.65 -82.26L1258.56 -60.62' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1550.33 51.04L1550.33 51.04' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1608.83 225.48L1608.83 225.48' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1608.83 225.48L1441.87 218' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1608.83 225.48L1583.5 390.94' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1608.83 225.48L1550.33 51.04' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1608.83 225.48L1417.46 65.73' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1608.83 225.48L1584.66 518.85' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1583.5 390.94L1583.5 390.94' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1583.5 390.94L1584.66 518.85' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1584.66 518.85L1584.66 518.85' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1551.48 689.82L1551.48 689.82' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3cpath d='M1551.48 689.82L1584.66 518.85' stroke='hsl(228.5%2c 77.2%25%2c 51.5%25)' stroke-width='1.5'%3e%3c/path%3e%3ccircle r='25' cx='68.79' cy='525.11' fill='url(%23SvgjsRadialGradient1001)'%3e%3c/circle%3e%3ccircle r='25' cx='841.98' cy='373.13' fill='url(%23SvgjsRadialGradient1001)'%3e%3c/circle%3e%3ccircle r='25' cx='948.1' cy='489.5' fill='url(%23SvgjsRadialGradient1001)'%3e%3c/circle%3e%3ccircle r='25' cx='1142.21' cy='349.69' fill='url(%23SvgjsRadialGradient1001)'%3e%3c/circle%3e%3ccircle r='25' cx='1123.54' cy='502.21' fill='url(%23SvgjsRadialGradient1001)'%3e%3c/circle%3e%3ccircle r='25' cx='1268.33' cy='405.62' fill='url(%23SvgjsRadialGradient1001)'%3e%3c/circle%3e%3ccircle r='25' cx='1406.3' cy='701.69' fill='url(%23SvgjsRadialGradient1001)'%3e%3c/circle%3e%3ccircle r='5' cx='-85.67' cy='502.83' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='-74.09' cy='694.35' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='61.26' cy='679.02' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='340.24' cy='546.63' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='338.47' cy='671.83' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='508.38' cy='524.18' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='497.2' cy='667.91' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='643.84' cy='374.24' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='656.38' cy='539.49' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='682.53' cy='657.88' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='851.42' cy='529.64' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='986.84' cy='260.35' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='950.8' cy='371.15' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='962.74' cy='655.86' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1111.35' cy='244.83' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1150.61' cy='666.47' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1258.56' cy='-60.62' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1284.79' cy='51.99' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1269.4' cy='196.6' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1255.94' cy='533.16' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1250.58' cy='692.9' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1450.7' cy='-57.34' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1417.46' cy='65.73' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1441.87' cy='218' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1434.46' cy='370.65' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1399.54' cy='536.27' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1578.65' cy='-82.26' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1550.33' cy='51.04' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1608.83' cy='225.48' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1583.5' cy='390.94' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1584.66' cy='518.85' fill='%238b9ad9'%3e%3c/circle%3e%3ccircle r='5' cx='1551.48' cy='689.82' fill='%238b9ad9'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient id='SvgjsRadialGradient1001'%3e%3cstop stop-color='white' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%231735b3' offset='0.2'%3e%3c/stop%3e%3cstop stop-color='rgba(23%2c 53%2c 179%2c 0)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3c/defs%3e%3c/svg%3e");
}